<div id="politica-privacidad" class="container mb-3">
  <h2 class="text-center privacy-title">Política de Privacidad</h2>
  <div class="privacy-section">
    <h3 class="privacy-subtitle">1. Introducción</h3>
    <p class="privacy-text">
      En Shop, nos comprometemos a proteger tu privacidad. Esta política de
      privacidad describe cómo recopilamos, usamos y protegemos tu información
      personal cuando utilizas nuestro sitio web.
    </p>

    <h3 class="privacy-subtitle">2. Información que Recopilamos</h3>
    <p class="privacy-text">Podemos recopilar la siguiente información:</p>
    <ul class="privacy-list">
      <li class="privacy-item">
        Nombre y datos de contacto, incluyendo dirección de correo electrónico.
      </li>
      <li class="privacy-item">
        Información demográfica como código postal, preferencias e intereses.
      </li>
      <li class="privacy-item">
        Otra información relevante para encuestas y/o ofertas.
      </li>
    </ul>

    <h3 class="privacy-subtitle">3. Uso de la Información</h3>
    <p class="privacy-text">Utilizamos la información recopilada para:</p>
    <ul class="privacy-list">
      <li class="privacy-item">
        Proporcionarte los productos y servicios que has solicitado.
      </li>
      <li class="privacy-item">Mejorar nuestros productos y servicios.</li>
      <li class="privacy-item">
        Enviar correos electrónicos promocionales sobre nuevos productos,
        ofertas especiales u otra información que creemos que puede ser de tu
        interés.
      </li>
    </ul>

    <h3 class="privacy-subtitle">4. Seguridad de la Información</h3>
    <p class="privacy-text">
      Estamos comprometidos a garantizar que tu información esté segura. Para
      evitar el acceso no autorizado o la divulgación, hemos implementado
      procedimientos físicos, electrónicos y administrativos adecuados para
      salvaguardar y proteger la información que recopilamos en línea.
    </p>

    <h3 class="privacy-subtitle">5. Cookies</h3>
    <p class="privacy-text">
      Utilizamos cookies para analizar el tráfico del sitio web y personalizar
      la experiencia del usuario. Una cookie es un archivo pequeño que se coloca
      en el disco duro de tu ordenador. Puedes optar por aceptar o rechazar
      cookies a través de la configuración de tu navegador.
    </p>

    <h3 class="privacy-subtitle">6. Enlaces a Otros Sitios Web</h3>
    <p class="privacy-text">
      Nuestro sitio web puede contener enlaces a otros sitios de interés. Sin
      embargo, una vez que has utilizado estos enlaces para salir de nuestro
      sitio, no tenemos control sobre ese otro sitio web. Por lo tanto, no
      podemos ser responsables de la protección y privacidad de cualquier
      información que proporciones mientras visitas esos sitios.
    </p>

    <h3 class="privacy-subtitle">7. Control de tu Información Personal</h3>
    <p class="privacy-text">
      Puedes optar por restringir la recopilación o el uso de tu información
      personal en cualquier momento contactándonos a través de nuestro
      formulario de contacto o enviando un correo electrónico a
      privacidadshop.com.
    </p>

    <h3 class="privacy-subtitle">8. Cambios en la Política de Privacidad</h3>
    <p class="privacy-text">
      Shop puede cambiar esta política de vez en cuando actualizando esta
      página. Te recomendamos que revises esta página periódicamente para
      asegurarte de que estás de acuerdo con cualquier cambio.
    </p>
  </div>
</div>
