<div id="editar-perfil">
  <form
    id="editar-form"
    class="row"
    (ngSubmit)="validarEditar()"
    #editarForm="ngForm"
  >
    <div class="form-group col-md-6">
      <label for="editar-username">Usuario</label>
      <input
        type="text"
        id="editar-username"
        name="username"
        [(ngModel)]="username"
        class="form-control"
        required
        minlength="3"
      />
      <div
        *ngIf="editarForm.submitted && username.length < 3"
        class="error-message"
      >
        Usuario es requerido y debe tener al menos 3 caracteres.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-phone">Teléfono</label>
      <input
        type="tel"
        id="editar-phone"
        name="phone"
        [(ngModel)]="phone"
        class="form-control"
        required
      />
      <div
        *ngIf="editarForm.submitted && !isPhoneValid()"
        class="error-message"
      >
        Teléfono es requerido y debe tener 8 dígitos.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-firstname">Nombre</label>
      <input
        type="text"
        id="editar-firstname"
        name="firstname"
        [(ngModel)]="firstname"
        class="form-control"
        required
      />
      <div *ngIf="editarForm.submitted && !firstname" class="error-message">
        Nombre es requerido.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-lastname">Apellido</label>
      <input
        type="text"
        id="editar-lastname"
        name="lastname"
        [(ngModel)]="lastname"
        class="form-control"
        required
      />
      <div *ngIf="editarForm.submitted && !lastname" class="error-message">
        Apellido es requerido.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-birthdate">Fecha de Nacimiento</label>
      <input
        type="date"
        id="editar-birthdate"
        name="birthdate"
        [(ngModel)]="birthdate"
        class="form-control"
        required
      />
      <div *ngIf="editarForm.submitted && !birthdate" class="error-message">
        Fecha de Nacimiento es requerida.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-email">Correo Electrónico</label>
      <input
        type="email"
        id="editar-email"
        name="email"
        [(ngModel)]="email"
        class="form-control"
        required
      />
      <div
        *ngIf="editarForm.submitted && !isEmailValid()"
        class="error-message"
      >
        Correo electrónico es requerido y debe ser válido.
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="editar-address">Dirección</label>
      <input
        type="text"
        id="editar-address"
        name="address"
        [(ngModel)]="address"
        class="form-control"
        required
      />
      <div *ngIf="editarForm.submitted && !address" class="error-message">
        Dirección es requerida.
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="editar-password-actual">Contraseña Actual</label>
      <input
        type="password"
        id="editar-password-actual"
        name="passwordActual"
        [(ngModel)]="passwordActual"
        class="form-control"
        required
        minlength="6"
      />
      <div
        *ngIf="editarForm.submitted && passwordActual.length < 6"
        class="error-message"
      >
        Contraseña Actual es requerida y debe tener al menos 6 caracteres.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-password">Nueva Contraseña</label>
      <input
        type="password"
        id="editar-password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        required
        minlength="6"
      />
      <div
        *ngIf="editarForm.submitted && password.length < 6"
        class="error-message"
      >
        Nueva Contraseña es requerida y debe tener al menos 6 caracteres.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="editar-confirm-password">Confirmar contraseña</label>
      <input
        type="password"
        id="editar-confirm-password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        class="form-control"
        required
      />
      <div
        *ngIf="editarForm.submitted && passwordMismatch"
        class="error-message"
      >
        Las contraseñas no coinciden.
      </div>
    </div>
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary w-100" id="editar-btn">
        Editar
      </button>
    </div>
  </form>
</div>
