<div id="login">
  <h2 class="text-center">Ingresar</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form">
    <div class="form-group">
      <label for="login-username">Usuario</label>
      <input
        type="text"
        id="login-username"
        formControlName="username"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="login-password">Contraseña</label>
      <input
        type="password"
        id="login-password"
        formControlName="password"
        class="form-control"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100" id="login-btn">
      Ingresar
    </button>

    <button
      type="button"
      class="btn btn-secondary w-100 mt-2"
      id="no-cuenta"
      [routerLink]="['/registrar']"
    >
      No tengo cuenta
    </button>

    <button
      type="button"
      class="btn btn-secondary w-100 mt-2"
      id="olvide-password"
      [routerLink]="['/recuperar-password']"
    >
      He olvidado mi contraseña
    </button>

    <div class="error-message" *ngIf="loginError">
      Usuario o contraseña incorrectos.
    </div>
  </form>
</div>
