<div id="mensaje-enviado">
  <h2 class="text-center">Código de Recuperación</h2>
  <form
    id="codigo-recuperacion-form"
    class="row"
    onsubmit="return validarCodigo()"
  >
    <div class="form-group col-md-12 text-center">
      <p>Se ha enviado un código de recuperación a tu cuenta</p>
      <label for="codigo-recuperacion">Ingresar Código</label>
      <input
        type="text"
        id="codigo-recuperacion"
        class="form-control text-center"
        required
        pattern="[0-9]{5}"
        maxlength="5"
      />
      <div class="invalid-feedback">
        El código debe tener exactamente 5 números.
      </div>
    </div>
    <div class="form-group col-md-12">
      <button
        type="submit"
        class="btn btn-primary w-100"
        id="validar-codigo-btn"
      >
        Validar Código
      </button>
    </div>
  </form>
</div>
