<!-- recuperar-password.component.html -->
<div id="recuperar-password">
  <h2 class="text-center">Recuperar Contraseña</h2>
  <form
    id="recuperar-password-form"
    class="row"
    (ngSubmit)="enviarRecuperacion()"
  >
    <div class="form-group col-md-12">
      <label for="recuperar-email">Correo Electrónico</label>
      <input
        type="email"
        id="recuperar-email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
      />
      <div class="invalid-feedback">
        Por favor, ingrese un correo electrónico válido.
      </div>
    </div>
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary w-100" id="recuperar-btn">
        Enviar
      </button>
    </div>
  </form>
</div>
