<div id="preguntas-frecuentes" class="container">
  <h2 class="text-center faq-title">Preguntas Frecuentes (FAQ)</h2>
  <div class="faq-section">
    <h3 class="faq-subtitle">1. ¿Qué es Shop?</h3>
    <p class="faq-text">
      Shop es una tienda en línea especializada en ofrecer productos y servicios
      de desarrollo de software. Ofrecemos una amplia gama de herramientas,
      recursos y servicios para desarrolladores.
    </p>

    <h3 class="faq-subtitle">2. ¿Cómo puedo realizar un pedido?</h3>
    <p class="faq-text">
      Para realizar un pedido, simplemente navega por nuestro catálogo,
      selecciona los productos que deseas comprar y agrégalos a tu carrito.
      Luego, sigue las instrucciones en la página de pago para completar tu
      compra.
    </p>

    <h3 class="faq-subtitle">3. ¿Qué métodos de pago aceptan?</h3>
    <p class="faq-text">
      Aceptamos varias formas de pago, incluyendo tarjetas de crédito, PayPal y
      transferencias bancarias. Todas las transacciones están aseguradas y
      encriptadas para tu seguridad.
    </p>

    <h3 class="faq-subtitle">
      4. ¿Cuál es el tiempo de entrega de mis productos?
    </h3>
    <p class="faq-text">
      El tiempo de entrega varía según el tipo de producto y tu ubicación. Los
      productos digitales se entregan inmediatamente después de la confirmación
      del pago, mientras que los productos físicos pueden tardar de 5 a 10 días
      hábiles.
    </p>

    <h3 class="faq-subtitle">5. ¿Puedo devolver o cambiar un producto?</h3>
    <p class="faq-text">
      Sí, aceptamos devoluciones y cambios dentro de los 30 días posteriores a
      la compra. Los productos deben estar en su estado original y no haber sido
      utilizados. Consulta nuestra política de devoluciones para más detalles.
    </p>

    <h3 class="faq-subtitle">
      6. ¿Cómo puedo contactar con el servicio de atención al cliente?
    </h3>
    <p class="faq-text">
      Puedes contactarnos a través de nuestro formulario de contacto en el sitio
      web, enviándonos un correo electrónico a soporteshop.com o llamando a
      nuestro número de atención al cliente.
    </p>
  </div>
</div>
