<div id="mis-compras-div" class="container mb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="mis-compras-card bg-white">
        <img
          src="../../../assets/img/producto_1.jpg"
          class="img-fluid"
          alt="Producto 1"
        />
        <div class="mis-compras-card-body">
          <h5 class="mis-compras-card-title">Producto 1</h5>
          <p class="mis-compras-card-price">$20.00</p>
          <p class="mis-compras-card-quantity">Cantidad: 1</p>
          <p class="mis-compras-card-date">Fecha de Compra: 2024-06-01</p>
          <p class="mis-compras-card-status">Estado: Entregado</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="mis-compras-card bg-white">
        <img
          src="../../../assets/img/producto_2.jpg"
          class="img-fluid"
          alt="Producto 1"
        />
        <div class="mis-compras-card-body">
          <h5 class="mis-compras-card-title">Producto 2</h5>
          <p class="mis-compras-card-price">$20.00</p>
          <p class="mis-compras-card-quantity">Cantidad: 1</p>
          <p class="mis-compras-card-date">Fecha de Compra: 2024-06-01</p>
          <p class="mis-compras-card-status">Estado: Entregado</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="mis-compras-card bg-white">
        <img
          src="../../../assets/img/producto_3.jpg"
          class="img-fluid"
          alt="Producto 1"
        />
        <div class="mis-compras-card-body">
          <h5 class="mis-compras-card-title">Producto 3</h5>
          <p class="mis-compras-card-price">$20.00</p>
          <p class="mis-compras-card-quantity">Cantidad: 1</p>
          <p class="mis-compras-card-date">Fecha de Compra: 2024-06-01</p>
          <p class="mis-compras-card-status">Estado: Entregado</p>
        </div>
      </div>
    </div>
  </div>
</div>
