<div id="registrar">
  <h2 class="text-center">Crear cuenta</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="row">
    <div class="form-group col-md-6">
      <label for="register-username">Usuario</label>
      <input
        type="text"
        id="register-username"
        name="username"
        [(ngModel)]="username"
        class="form-control"
        required
        minlength="3"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-phone">Teléfono</label>
      <input
        type="tel"
        id="register-phone"
        name="phone"
        [(ngModel)]="phone"
        class="form-control"
        required
        placeholder="+56 9 1234 5678"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-firstname">Nombre</label>
      <input
        type="text"
        id="register-firstname"
        name="firstname"
        [(ngModel)]="firstname"
        class="form-control"
        required
        placeholder="Nombre"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-lastname">Apellido</label>
      <input
        type="text"
        id="register-lastname"
        name="lastname"
        [(ngModel)]="lastname"
        class="form-control"
        required
        placeholder="Apellido"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-birthdate">Fecha de Nacimiento</label>
      <input
        type="date"
        id="register-birthdate"
        name="birthdate"
        [(ngModel)]="birthdate"
        class="form-control"
        required
        placeholder="dd/mm/aaaa"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-email">Correo Electrónico</label>
      <input
        type="email"
        id="register-email"
        name="email"
        [(ngModel)]="email"
        class="form-control"
        required
        placeholder="correo@ejemplo.com"
      />
    </div>
    <div class="form-group col-md-12">
      <label for="register-address">Dirección</label>
      <input
        type="text"
        id="register-address"
        name="address"
        [(ngModel)]="address"
        class="form-control"
        required
        placeholder="Calle y número, Ciudad, País"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-password">Contraseña</label>
      <input
        type="password"
        id="register-password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        required
        minlength="6"
        placeholder="Contraseña (mínimo 6 caracteres)"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="register-confirm-password">Confirmar contraseña</label>
      <input
        type="password"
        id="register-confirm-password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        class="form-control"
        required
        placeholder="Repite tu contraseña"
      />
    </div>

    <!-- Checkbox para terminos y condiciones  -->
    <div class="form-group col-md-12">
      <div class="form-check">
        <input
          type="checkbox"
          id="termsCheckbox"
          name="termsCheckbox"
          [(ngModel)]="acceptedTerms"
          class="form-check-input"
          required
        />
        <label class="form-check-label" for="termsCheckbox">
          Acepto los
          <a [routerLink]="['/terminos-y-condiciones']"
            >términos y condiciones</a
          >
          y la
          <a [routerLink]="['/politica-privacidad']">política de privacidad</a>
        </label>
      </div>
    </div>

    <!-- Checkbox para recibir promociones -->
    <div class="form-group col-md-12">
      <div class="form-check">
        <input
          type="checkbox"
          id="promotionsCheckbox"
          name="promotionsCheckbox"
          [(ngModel)]="acceptedPromotions"
          class="form-check-input"
        />
        <label class="form-check-label" for="promotionsCheckbox">
          Deseo recibir promociones, ofertas especiales y novedades sobre
          productos.
        </label>
      </div>
    </div>

    <div class="form-group col-md-12">
      <button
        type="submit"
        class="btn btn-dark w-100"
        id="register-btn"
        [disabled]="!acceptedTerms"
      >
        Registrarse
      </button>
    </div>
  </form>
</div>
