@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

.oswald {
  font-family: "Oswald", sans-serif;
}

.card {
  border-radius: 5px; /* Bordes redondeados */
  overflow: hidden;
  height: 450px; /* Ajustar altura automáticamente */
  position: relative; /* Necesario para el footer */
  background-color: #ebe9e9;
}

.card-title {
  color: #333333;
  font-size: 1.2rem; /* Ajustar tamaño del título */
  margin: 0.5rem 0;
}

.card-text {
  color: #555555;
  font-size: 0.9rem; /* Ajustar tamaño del texto */
}

.card-price {
  color: #000;
  font-size: 1rem; /* Ajustar tamaño del precio */
  font-weight: bold;
}

.card-img-top {
  height: 180px; /* Ajustar altura de la imagen */
  width: 80%;
  object-fit: contain; /* Cubrir completamente el contenedor */
}

.card-footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Ajustar el color de fondo */
  padding: 10px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.product-title {
  white-space: pre-wrap;
  font-size: 0.8rem;
  overflow: hidden;
}

.ver-mas-btn {
  background-color: #000; /* Botón negro */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 20px; /* Añadir padding */
  border-radius: 5px; /* Bordes redondeados */
}

.ver-mas-btn:hover {
  background-color: #333; /* Cambiar color al pasar el mouse */
}

.rating {
  color: #ffd700; /* Color dorado para las estrellas */
  font-size: 1.2rem; /* Tamaño de las estrellas */
}

.rating i {
  margin: 0 2px; /* Espaciado entre las estrellas */
}

/* Testimonios */
.testimonial {
  background-color: #ebe9e9;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Para que cada testimonial se estire al tamaño del contenedor */
}

.carousel-item .row {
  display: flex;
  align-items: stretch; /* Para que todos los elementos hijos tengan la misma altura */
}

.testimonial-review {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 15px;
}

.testimonial-rating {
  color: #ffd700; /* Color dorado para las estrellas */
  font-size: 1.2rem; /* Tamaño de las estrellas */
}

.testimonial-name {
  color: #333333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.testimonial-date {
  color: #777777;
  font-size: 0.9rem;
}

.carousel-inner .row {
  justify-content: center;
}

.carousel-control-prev-icon-black,
.carousel-control-next-icon-black {
  background-image: none; /* Elimina el fondo predeterminado */
}

.carousel-control-prev-icon-black::before {
  content: "\f053"; /* Código de la flecha izquierda en Font Awesome */
  font-family: "Font Awesome 6 Free"; /* Usa Font Awesome */
  font-weight: 900; /* Estilo de ícono sólido */
  font-size: 1.5rem; /* Tamaño del ícono */
  color: black; /* Color del ícono */
}

.carousel-control-next-icon-black::before {
  content: "\f054"; /* Código de la flecha derecha en Font Awesome */
  font-family: "Font Awesome 6 Free"; /* Usa Font Awesome */
  font-weight: 900; /* Estilo de ícono sólido */
  font-size: 1.5rem; /* Tamaño del ícono */
  color: black; /* Color del ícono */
}
