<div
  class="offcanvas offcanvas-end text-secondary"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header d-flex justify-content-end">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="text-center">
    <h1 class="title">Raven</h1>
    <img src="../../../assets/img/raven-logo.png" alt="" class="raven-logo" />
  </div>
  <div class="offcanvas-body text-center mt-3">
    <p>Carro ({{ cantidadTotal }})</p>
    <div class="container-overflow">
      <div
        *ngFor="let item of carrito"
        class="item-container oswald items-in-cart"
      >
        <a (click)="verMas(item.id)">
          <img [src]="item.image" alt="{{ item.title }}" class="item-image" />
        </a>
        <div class="item-details">
          <a (click)="verMas(item.id)"
            ><p>{{ item.title }}</p></a
          >
          <p>Talla x</p>
          <p>{{ item.price | currency }}</p>
        </div>
        <div class="button-group">
          <button class="btn btn-light" (click)="decrementQuantity(item)">
            -
          </button>
          <button class="btn btn-light disabled">{{ item.quantity }}</button>
          <button class="btn btn-light" (click)="incrementQuantity(item)">
            +
          </button>

          <button
            class="btn btn-danger btn-sm"
            (click)="eliminarDelCarrito(item)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
    <p>Total: {{ calcularTotal() | currency }}</p>
    <div class="button-group">
      <button
        class="btn btn-dark oswald"
        [routerLink]="['/carrito']"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        IR AL CARRITO
      </button>
      <button
        class="btn btn-secondary oswald"
        [routerLink]="['/carrito']"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        REALIZAR COMPRA
      </button>
    </div>
  </div>
</div>
