@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.top-bar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  font-family: "UnifrakturMaguntia", sans-serif;
  color: black;
}

.navbar-toggler {
  border: none;
  background: none;
}

.navbar-toggler .fas.fa-bars {
  font-size: 24px;
  color: black;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown-menu {
  position: absolute;
}

.dropdown-toggle::after {
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.input-group {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #666666;
}

.search-input {
  border: none;
  padding: 10px;
  background-color: #666666;
  color: white;
  border-radius: 20px 0 0 20px;
}

.search-input::placeholder {
  color: white;
}

.search-btn {
  background-color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 0 20px 20px 0;
  color: white;
}

.search-btn i {
  color: white;
}

.search-btn:focus {
  outline: none;
}

.icons {
  display: flex;
  align-items: center;
}

.icons .nav-item {
  margin-left: 20px;
}

.custom-badge {
  position: absolute;
  top: -2px;
  right: -10px;
  font-size: 12px;
  color: white;
  background-color: blue;
  border-radius: 50%;
  padding: 2px 5px;
}

.nav-link-icon {
  font-size: 24px;
  color: black;
}
