<div id="navbar">
  <div class="top-bar">
    Envíos pueden demorar de 2 a 5 días hábiles en Región Metropolitana
    <i class="fas fa-truck fa-flip-horizontal"></i>
  </div>
  <nav class="navbar navbar-expand-lg text-center">
    <div class="container-fluid">
      <div class="navbar-brand-container">
        <a class="navbar-brand" [routerLink]="['/index']">Raven</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse oswald" id="navbarNav">
        <ul class="navbar-nav">
          <!-- Mujer -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="mujerDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Mujer <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="mujerDropdown"
              id="mujerMenu"
            >
              <li *ngFor="let item of mujerItems">
                <a class="dropdown-item" (click)="buscarPorCategoria(item)">{{
                  item
                }}</a>
              </li>
            </ul>
          </li>

          <!-- Hombre -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="hombreDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Hombre <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="hombreDropdown"
              id="hombreMenu"
            >
              <li *ngFor="let item of hombreItems">
                <a class="dropdown-item" (click)="buscarPorCategoria(item)">{{
                  item
                }}</a>
              </li>
            </ul>
          </li>

          <!-- Calzado -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="calzadoDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Calzado <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="calzadoDropdown"
              id="calzadoMenu"
            >
              <li *ngFor="let item of calzadoItems">
                <a class="dropdown-item" (click)="buscarPorCategoria(item)">{{
                  item
                }}</a>
              </li>
            </ul>
          </li>

          <!-- Accesorios -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="accesoriosDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Accesorios <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="accesoriosDropdown"
              id="accesoriosMenu"
            >
              <li *ngFor="let item of accesoriosItems">
                <a class="dropdown-item" (click)="buscarPorCategoria(item)">{{
                  item
                }}</a>
              </li>
            </ul>
          </li>

          <!-- Preventa -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="preventaDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Preventa <i class="fas fa-chevron-down"></i
            ></a>
            <ul
              class="dropdown-menu"
              aria-labelledby="preventaDropdown"
              id="preventaMenu"
            >
              <li *ngFor="let item of preventaItems">
                <a class="dropdown-item" (click)="buscarPorCategoria(item)">{{
                  item
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="search-container">
          <form class="input-group" (submit)="buscarProductos()">
            <input
              type="text"
              name="search"
              id="search"
              class="form-control search-input"
              placeholder="Buscar por producto, marcas y más..."
              [(ngModel)]="searchTerm"
            />
            <button type="submit" class="btn search-btn">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <ul class="navbar-nav icons">
          <li class="nav-item dropdown-center dropdown">
            <a
              class="nav-link dropdown-toggle nav-link-icon"
              href="#"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-display="static"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-lg dropdown-menu-center text-center"
              aria-labelledby="userDropdown"
            >
              <li class="nav-item" *ngIf="!loggedIn">
                <img
                  src="../../../assets/img/raven-logo.png"
                  alt="logo"
                  class="raven-logo"
                />

                <button
                  class="btn btn-dark mt-3 mb-3 oswald"
                  [routerLink]="['/iniciar-sesion']"
                >
                  INICIAR SESIÓN
                </button>

                <p class="oswald">
                  ¿No tienes una cuenta?
                  <a
                    class="oswald enlace-registrar"
                    [routerLink]="['/iniciar-sesion']"
                    >REGÍSTRATE</a
                  >
                </p>
              </li>

              <li class="nav-item" *ngIf="loggedIn">
                <img
                  src="https://i.pinimg.com/736x/f2/01/1b/f2011bfb4e87a2e5219bd4c2fb02a5e9.jpg"
                  alt="Usuario conectado"
                  class="rounded-circle"
                  style="width: 100px; height: 100px; object-fit: cover"
                />
              </li>

              <li class="nav-item mt-1 mb-2" *ngIf="loggedIn">
                <span class="nav-text"> Hola, usuario </span>
              </li>

              <li class="nav-item" *ngIf="loggedIn">
                <a class="dropdown-item" [routerLink]="['/mis-compras']">
                  <i class="fas fa-shopping-cart"></i> Mis compras
                </a>
              </li>

              <li class="nav-item" *ngIf="loggedIn">
                <a class="dropdown-item" [routerLink]="['/editar-perfil']">
                  <i class="fas fa-user-edit"></i> Editar perfil
                </a>
              </li>

              <li class="nav-item" *ngIf="loggedIn">
                <a class="dropdown-item" (click)="cerrarSesion()">
                  <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item position-relative">
            <a
              class="nav-link nav-link-icon"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions"
            >
              <i class="fas fa-shopping-bag"></i>
              <span
                class="badge bg-primary custom-badge"
                *ngIf="cantidadTotal > 0"
              >
                {{ cantidadTotal }}</span
              >
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#">
              <i class="fas fa-star"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
