<div id="carrito" class="cart-container container mb-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center mb-4">Tu Carrito de Compras</h2>

      <div *ngIf="carrito.length > 0; else emptyCart">
        <div *ngFor="let item of carrito" class="cart-item">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img
                [src]="item.image"
                class="cart-item-image img-fluid"
                [alt]="item.name"
              />
            </div>
            <div class="col-md-8">
              <div class="cart-item-details">
                <h5 class="cart-item-title">{{ item.name }}</h5>
                <p class="cart-item-price">{{ item.price | currency }}</p>
                <p class="cart-item-quantity">Cantidad: {{ item.quantity }}</p>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="eliminarDelCarrito(item)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="cart-buttons text-center mt-4">
          <button class="btn btn-primary btn-checkout me-3">
            Realizar Compra
          </button>
          <button class="btn btn-danger btn-clear" (click)="vaciarCarrito()">
            Vaciar Carrito
          </button>
        </div>
      </div>

      <ng-template #emptyCart>
        <p class="text-center">No hay productos en el carrito.</p>
      </ng-template>
    </div>
  </div>
</div>
