<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 oswald">
      <h2 *ngIf="categoria">Resultados para la categoría: {{ categoria }}</h2>
      <h2 *ngIf="searchTerm">Resultados para: {{ searchTerm }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
      <div class="card mb-4 shadow-sm align-items-center">
        <img
          src="{{ producto.image }}"
          class="card-img-top mt-3"
          alt="{{ producto.title }}"
        />
        <div class="card-body text-center">
          <p class="card-text">{{ producto.brand }}</p>
          <h5 class="card-title product-title" title="{{ producto.title }}">
            {{ producto.title }}
          </h5>
          <p class="card-price">$ {{ formatPrice(producto.price) }}</p>

          <div class="rating">
            <span *ngFor="let star of getStars(producto.rating.rate)">
              <i class="bi bi-star-fill"></i>
            </span>
            <span *ngFor="let star of getEmptyStars(producto.rating.rate)">
              <i class="bi bi-star"></i>
            </span>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary ver-mas-btn"
            (click)="verMas(producto.id)"
          >
            Ver Producto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
